page {
  height: 100%;
  background: linear-gradient(180deg, #fff 18.25%, #f7f8fa 92.19%);
}

button {
  font-weight: 500;
  color: #fff !important;
  border: unset !important;
}

/*  覆盖 uni-ui 样式 */

