page {
  height: 100%;
  position: relative;
  background-color: #F7F8FA;
}

* {
  box-sizing: border-box;
}

.page-pt-with-navbar {
  /* 状态栏高度 + 导航栏高度 */
  padding-top: 88PX;
}

.page-pb-with-tabbar {
  /* 安全区 + tabbar高度 */
  padding-bottom: calc(var(--hx-tabbar-height) + env(safe-area-inset-bottom));
}

/* 文字超出显示省略号 */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*  覆盖 uv-ui 样式 */

