$uv-main-color: #303133;
$uv-content-color: #606266;
$uv-tips-color: #909193;
$uv-light-color: #c0c4cc;
$uv-border-color: #dadbde;
$uv-bg-color: #f3f4f6;
$uv-disabled-color: #c8c9cc;

$uv-primary: var(--hx-color-primary);
$uv-primary-dark: #398ade;
$uv-primary-disabled: var(--hx-color-primary-disable);
$uv-primary-light: #ecf5ff;

$uv-warning: var(--hx-color-warning);
$uv-warning-dark: #f1a532;
$uv-warning-disabled: var(--hx-color-warning-disable);
$uv-warning-light: #fdf6ec;

$uv-success: var(--hx-color-success);
$uv-success-dark: #53c21d;
$uv-success-disabled: #var(--hx-color-primary-disable);
$uv-success-light: #f5fff0;

$uv-error: var(--hx-color-error);
$uv-error-dark: #e45656;
$uv-error-disabled: var(--hx-color-error-disable);
$uv-error-light: #fef0f0;

$uv-info: #909399;
$uv-info-dark: #767a82;
$uv-info-disabled: #c4c6c9;
$uv-info-light: #f4f4f5;
